<div class="block w-full bg-gray-100">
  <nav class="w-full mx-auto max-w-screen-xl py-4 px-2">
    <ul
      class="flex flex-col text-sm sm:text-base sm:flex-row justify-center items-center gap-y-6 gap-x-2"
    >
      <li>
        <a
          class="px-6 py-3 hover:bg-gray-200 transition rounded-lg"
          href="/admin/products">Productos</a
        >
      </li>
      <li>
        <a
          class="px-6 py-3 hover:bg-gray-200 transition rounded-lg"
          href="/admin/categories">Categorías</a
        >
      </li>
      <li>
        <a
          class="px-6 py-3 hover:bg-gray-200 transition rounded-lg"
          href="/admin/platforms">Plataformas</a
        >
      </li>
      <li>
        <a
          class="px-6 py-3 hover:bg-gray-200 transition rounded-lg"
          href="/admin/orders">Ordenes</a
        >
      </li>
      <li>
        <a
          class="px-6 py-3 hover:bg-gray-200 transition rounded-lg"
          href="/admin/reviews">Reseñas</a
        >
      </li>
    </ul>
  </nav>
</div>
