<nav class="w-full border-b-2 border-primary-100">
    <ul
        class="mx-auto max-w-6xl flex text-sm lg:text-base justify-center items-center p-4 gap-3"
    >
        <li>
            <a
                class="font-semibold text-white rounded-2xl text-nowrap bg-primary-600 transition-colors px-4 py-2"
                href="/all">Todos</a
            >
        </li>
        <li>
            <a
                class="font-semibold text-secondary-800 rounded-2xl text-nowrap bg-primary-100 hover:bg-primary-200 hover:text-secondary-900 transition-colors px-4 py-2"
                href="/about">Acción</a
            >
        </li>
        <li>
            <a
                class="font-semibold text-secondary-800 rounded-2xl text-nowrap bg-primary-100 hover:bg-primary-200 hover:text-secondary-900 transition-colors px-4 py-2"
                href="/about">MMO</a
            >
        </li>
        <li>
            <a
                class="font-semibold text-secondary-800 rounded-2xl text-nowrap bg-primary-100 hover:bg-primary-200 hover:text-secondary-900 transition-colors px-4 py-2"
                href="/about">Disparos</a
            >
        </li>
        <li>
            <a
                class="font-semibold text-secondary-800 rounded-2xl text-nowrap bg-primary-100 hover:bg-primary-200 hover:text-secondary-900 transition-colors px-4 py-2"
                href="/about">RPG</a
            >
        </li>
        <li>
            <a
                class="font-semibold text-secondary-800 rounded-2xl text-nowrap bg-primary-100 hover:bg-primary-200 hover:text-secondary-900 transition-colors px-4 py-2"
                href="/about">Deportes</a
            >
        </li>
        <li>
            <a
                class="font-semibold text-secondary-800 rounded-2xl text-nowrap bg-primary-100 hover:bg-primary-200 hover:text-secondary-900 transition-colors px-4 py-2"
                href="/about">Carreras</a
            >
        </li>
        <li>
            <a
                class="font-semibold text-secondary-800 rounded-2xl text-nowrap bg-primary-100 hover:bg-primary-200 hover:text-secondary-900 transition-colors px-4 py-2"
                href="/contact">Accesorios</a
            >
        </li>
    </ul>
</nav>
