<form action="search" class="relative w-full max-w-xl" method="get">
    <input
        type="search"
        placeholder="Buscar..."
        class="bg-secondary-100 focus:border-primary-400 block w-full px-3 py-2 rounded-lg placeholder:text-gray-500"
    />
    <button type="submit" class="hidden"></button>
    <svg
        class="w-6 h-6 absolute right-3 top-2"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path
                class="stroke-primary-400"
                d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z"
                stroke="#000000"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </g></svg
    >
</form>
