---
import AdminLayout from "../../../../layouts/AdminLayout.astro";
import { getPlatform, editPlatform } from "../../../../api/platforms";
import type { Platform } from "../../../../utils/types";

const { id } = Astro.params;
const token = Astro.cookies.get("token")?.value || "";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const id = data.get("id") as string;
  const name = data.get("name") as string;
  const token = Astro.cookies.get("token")?.value || "";

  const response = await editPlatform(token, Number(id), name);
  return Astro.redirect("/admin/platforms");
}

const response = await getPlatform(token, Number(id));
const platform: Platform = response;
---

<AdminLayout>
  <section class="py-16">
    <form
      method="POST"
      class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-md"
    >
      <h1 class="text-4xl font-bold text-black mb-5">Editar plataforma</h1>
      <input type="text" name="id" value={platform.id} hidden />
      <div class="mb-4">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900"
          >Nombre</label
        >
        <input
          type="text"
          id="name"
          name="name"
          value={platform.name}
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5"
        />
      </div>

      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
        >Guardar</button
      >
    </form>
  </section>
</AdminLayout>
