---
import AdminLayout from "../../../../layouts/AdminLayout.astro";
import {
  getCategories,
  getCategory,
  editCategory,
} from "../../../../api/categories";
import type { Category } from "../../../../utils/types";

const { id } = Astro.params;
const token = Astro.cookies.get("token")?.value || "";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const id = data.get("id") as string;
  const name = data.get("name") as string;
  const parent = (data.get("parent") as string) || null;

  const token = Astro.cookies.get("token")?.value || "";

  const response = await editCategory(token, Number(id), name, Number(parent));
  return Astro.redirect("/admin/categories");
}
const categories = await getCategories(token);

const response = await getCategory(token, Number(id));
const category: Category = response;
---

<AdminLayout>
  <section class="py-16">
    <form
      method="POST"
      class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-md"
    >
      <h1 class="text-4xl font-bold text-black mb-5">Editar categoría</h1>
      <input type="text" name="id" value={category.id} hidden />
      <div class="mb-4">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900"
          >Nombre</label
        >
        <input
          type="text"
          id="name"
          name="name"
          value={category.name}
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5"
        />
      </div>

      <div class="mb-4">
        <label for="parent" class="block mb-2 text-sm font-medium text-gray-900"
          >Categoría padre</label
        >
        <select
          id="parent"
          name="parent"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5"
        >
          <option value="">Ninguna</option>
          {
            categories.results.map((parent) => (
              <option
                value={parent.id}
                selected={category.parent === parent.id}
              >
                {parent.name}
              </option>
            ))
          }
        </select>
      </div>

      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
        >Guardar</button
      >
    </form>
  </section>
</AdminLayout>
