---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ProductCard from "../components/ProductCard.astro";
import { getProducts } from "../api";
import type { Product } from "../utils/types";

const gamesResponse = await getProducts({ categoryParent: 1, limit: 3 });
const games = gamesResponse.results;

const accesoriesResponse = await getProducts({ limit: 4 });
const accesories = accesoriesResponse.results;
---

<Layout>
  <div class="flex flex-col gap-4 py-4">
    <Hero />
    <main class="relative w-full flex flex-col gap-4 bg-white">
      <section
        class="w-full mx-auto max-w-6xl py-6 text-xl text-secondary-800 font-semibold bg-white px-4"
      >
        <div class="border-b-2 pb-2 border-primary-100 px-2">
          <h2>Explora nuestros juegos más vendidos</h2>
        </div>
        <div
          class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 py-4"
        >
          {games.map((product) => <ProductCard product={product} />)}
        </div>
      </section>
      <section
        class="w-full mx-auto max-w-6xl py-6 text-xl text-secondary-800 font-semibold bg-white px-4"
      >
        <div class="border-b-2 pb-2 border-primary-100 px-2">
          <h2>Explora nuestros nuevos accesorios</h2>
        </div>
        <div
          class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 py-4"
        >
          {accesories.map((product) => <ProductCard product={product} />)}
        </div>
      </section>
    </main>
  </div>
</Layout>
