---
import type { GetProductParams } from "../utils/types";
import { getProducts } from "../api";
import ProductCard from "../components/ProductCard.astro";
import Layout from "../layouts/Layout.astro";
import SearchFilter from "../components/searchFilter.astro";

const url = new URL(Astro.request.url);
const name = url.searchParams.get("name") || "";
const category = url.searchParams.get("category") || "";
const subcategory = url.searchParams.get("subcategory") || "";
const platform = url.searchParams.get("platform") || "";

const params: Record<string, string> = {};

if (name) params.name = name;
if (category) params.categoryParent = category;
if (subcategory) params.category = subcategory;
if (platform) params.platform = platform;

const response = await getProducts(params);

const products = response.results;
---

<Layout>
  <div class="flex flex-col gap-4 py-4">
    <main class="relative w-full bg-white max-w-screen-xl mx-auto">
      <section
        class="w-full mx-auto max-w-6xl py-6 text-xl text-secondary-800 font-semibold bg-white px-4 rounded-md"
      >
        <SearchFilter params={params} />
        {
          products.length > 0 && (
            <div class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 py-4">
              {products.map((product) => (
                <ProductCard product={product} />
              ))}
            </div>
          )
        }
        {
          products.length == 0 && (
            <p class="py-12 text-sm text-center font-base">
              Lo sentimos, ningún producto cumple con estos parámetros.
            </p>
          )
        }
      </section>
    </main>
  </div>
</Layout>
